@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}

.Cabecalho {
    text-align: justify;
    text-align-last: justify;
    max-width: 390px;
    margin: 0 auto;
}

h1 {
    font-weight: 200;
    margin-top: 50px
}

h2 {
    font-weight: 600;
}

.Titulo {
    text-align: center;
    margin-bottom: 0px;
    color: hsl(234, 12%, 34%)
}

.SubTitulo {
    text-align: center;
    margin-top: 0px;
    font-size: 2em;
    color: hsl(234, 12%, 34%)
}

.Descricao {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 70px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.Quadrado {
    width: 350px;
    height: 250px;
    box-shadow: 5px 5px 15px hsl(229, 6%, 66%);
    display: grid;
    border-top: 5px solid;
    border-radius: 5px;
    padding: 30px 30px;
    color: hsl(229, 6%, 66%);
    background-color: hsl(0, 0%, 98%);
}

.Quadrado h3 {
    color: hsl(234, 12%, 34%)
}

.Container {
    display: grid;
    grid-template-columns: 410px 410px 410px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.--BordaVermelho {
    border-color: hsl(0, 78%, 62%)
}

.--BordaCyan {
    border-color: hsl(180, 62%, 55%)
}

.--BordaLaranja {
    border-color: hsl(34, 97%, 64%)
}

.--BordaAzul {
    border-color: hsl(212, 86%, 64%)
}

.Supervisor {
    grid-gap: 10px 10px;
    grid-area: 1 / 1 / span 2;
}

.TeamBuilder {
    grid-gap: 10px 10px;
}

.Karma {
    grid-gap: 10px 10px;
}

.Calculator {
    grid-gap: 10px 10px;
    grid-area: 1 / 3 / span 2;
}

.Container h3 {
    margin: 0;
}

.Quadrado img {
    height: 65px;
    width: 65px;
    justify-self: flex-end;
}

@media only screen and (max-width: 650px) {
    .Cabecalho {
        text-align: center;
        text-align-last: center;
    }
    .Container {
        display: flex;
        flex-wrap: wrap;
        margin: 5%
    }
    .Quadrado {
        width: 100%;
        height: 100%
    }
    .body {
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .Container {
        display: flex;
        flex-wrap: wrap;
    }
    .body {
        text-align: center;
    }
}

@media only screen and (max-width: 405px) {
    .Titulo {
        font-size: 1.5em;
    }
    .SubTitulo {
        font-size: 1.5em;
    }
    .Descricao {
        font-size: 1em;
    }
}